<div class="layer-hidden"></div>
<div id="content-s" class="pa__padding">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 t__box grid-center">
      <div class="t--caption">
        Tentang SCATS
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-1--custom">
          <img src="@Url.Content("~/Content/img/logo.png")" class="img-responsive center-block t__logo" alt="Logo SCATS">
        </div>
        <div class="col-md-8 col-md-offset-1--custom">
          <p class="text-justify text--bigger-t">
            Perawatan buah dan hewan ternak yang kurang baik dapat memicu
            menurunnya kualitas pangan utama yang dihasilkan. <span class="scats--bigger-t">SCATS</span> atau <span class="scats--bigger-t">SMART Cattle
            Treatment System</span> adalah teknologi yang dapat menambah efisiensi dalam
            metode perawatan tanaman beserta hewan ternak yang diinginkan.
            Metode pada teknologi <span class="scats--bigger-t">SCATS</span> meliputi pengairan dan pengaturan kondisi
            lingkungan yang baik untuk tanaman baik secara otomatis maupun manual
            dengan menggunakan <i>software</i>; serta melakukan perawatan hewan ternak
            dengan melakukan pemberian pakan dan perawatan lainnya secara
            otomatis maupun secara manual melalui <i>software</i>.
          </p>
        </div>
      </div>
      <div class="t--caption t__margin-top">
        Cara Kerja SCATS
      </div>
      <div class="row">
        <div class="col-sm-4">
          <img src="@Url.Content("~/Content/img/cara-kerja.png")" class="img-responsive center-block t__logo" alt="Cara Kerja SCATS">
        </div>
        <div class="col-sm-8 timeline__padding">
          <ul class="timeline">
              <li>
                <div class="timeline-badge primary"><strong>1</strong></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Langkah ke-1</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Pengguna mengendalikan keadaan kandang ayam petelur maupun lingkungan tanaman stroberi melalui <span class="scats--bigger-t">SCATS</span>.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-badge primary"><strong>2</strong></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Langkah ke-2</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Keadaan kandang ayam petelur dan atau lingkungan tanaman stroberi berubah sesuai masukan dari pengguna atau otomatisasi dari <span class="scats--bigger-t">SCATS</span>.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-badge result"><i class="fa fa-check"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Hasil yang Diharapkan</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Ayam petelur maupun stroberi memiliki kualitas yang baik.</p>
                  </div>
                </div>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 t__box grid-center">
      <div class="t--caption">
        Di balik SCATS, Elixir
      </div>
      <div class="t--caption-elixir">
        <span class="scats--bigger-t">Elixir</span> adalah tim di balik pembuatan <span class="scats--bigger-t">SCATS</span>.
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <img src="@Url.Content("~/Content/img/kalam.png")" class="img-responsive img-circle t--p center-block" alt="Kalam">
          <div class="elixir--nama">
            Kalam Adhiansyah Lutfie
          </div>
          <div class="elixir--major">
            Teknik Elektro ITB '12
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <img src="@Url.Content("~/Content/img/arina.png")" class="img-responsive img-circle t--p center-block" alt="Arina">
          <div class="elixir--nama">
            Arina Listyarini Dwiastuti
          </div>
          <div class="elixir--major">
            Teknik Informatika ITB '12
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <img src="@Url.Content("~/Content/img/indam.png")" class="img-responsive img-circle t--p center-block" alt="Indam">
          <div class="elixir--nama">
            Indam Muhammad
          </div>
          <div class="elixir--major">
            Teknik Informatika ITB '12
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <img src="@Url.Content("~/Content/img/ipung.png")" class="img-responsive img-circle t--p center-block" alt="Ipung">
          <div class="elixir--nama">
            Ipung Hafidz Widjaja
          </div>
          <div class="elixir--major">
            Teknik Telekomunikasi ITB '12
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
